<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <%= link_to "<i class='fa fa-twitter'></i> Twitter".html_safe, "/users/auth/twitter", class: "btn btn-sm btn-info twittercolor" %>
    <%= link_to "<i class='fa fa-linkedin'></i> Linkedin".html_safe, "/users/auth/linkedin", class: "btn btn-sm btn-info linkedincolor" %>
    <%= link_to "<i class='fa fa-google'></i> Google +".html_safe, "/users/auth/google_oauth2", class: "btn btn-sm btn-info googlecolor" %>
</div>