.jumbotron {
    background: image-url("1.jpg") no-repeat;
    height: 500px;
    width: 100%;
}

.middle {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.rowfull {
    width: 100%;
}